[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]    
Type=forking
User=zookeeper
Group=zookeeper
WorkingDirectory={{zookeeper_home_dir}}
Environment="ZK_SERVER_HEAP={{ zookeeper_jvm_heap_size }}"
ExecStart={{zookeeper_home_dir}}/bin/zkServer.sh start
ExecStop={{zookeeper_home_dir}}/bin/zkServer.sh stop
ExecReload={{zookeeper_home_dir}}/bin/zkServer.sh restart
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target